.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 10, 1);
    height: 80px;
    margin-top: 0;
    list-style: none;
}
.nav >li{
   color: whitesmoke;
}
.nav > li:hover{
    color: turquoise;
}
.header{
    display: block;
    text-align: center;
    font-size: 30px;
}