.productsContainer{
display: flex;
flex-wrap: wrap;
padding: 20px;
justify-content: space-evenly;
}
.products{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 10px;
    margin: 10px;
}
.prodDesc{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}